:host {
  display: block;
}
:host ::ng-deep p-card {
  width: 50%;
}
.avaliability-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  .update-avaliability-btn {
    width: 15%;
  }
}
