:host {
  display: block;
}
:host ::ng-deep .mydialog {
  width: 75vw;
}
.main-container {
  height: 100vh;
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 90vh;
    a {
      text-decoration: none;
      width: 30%;
      margin: 10% 5% 0% 5%;
    }
  }
}
