:host {
  display: block;
}
:host ::ng-deep .p-menuitem-icon {
  font-size: 1.5rem;
}

.nav-bar-container {
  height: 5vh;
  width: 100vw;
  background-color: #3f51b5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    color: white;
    font-weight: bold;
  }
  p-menu {
    display: contents;
  }
}
