:host {
  display: block;
}

:host ::ng-deep p-tabview {
  width: 100%;
}
:host ::ng-deep p-listbox {
  width: 80%;
  ul {
    display: flex;
  }
}
.chart-container {
  width: 80%;
}

.statistics-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}
