<!-- <p-chart type="bar" [data]="loginData"></p-chart> -->
<div class="statistics-container">
  <h3>Professional Statistics</h3>
  <p-listbox [options]="professionals" [(ngModel)]="selectedDoctor" (onClick)="fillDoctorCharts()"></p-listbox>
  <div class="chart-container" *ngIf="selectedDoctor">
    <h4>Logins Per Day</h4>
    <p-chart type="bar" [data]="loginData"></p-chart>
    <p-listbox [options]="logLabels" [(ngModel)]="selectedDate" (onClick)="fillDoctorDayCharts()"></p-listbox>
    <h4>Logins Per Hour</h4>
    <p-chart *ngIf="selectedDate" type="bar" [data]="loginDayData"></p-chart>
    <h4>Number of Operations</h4>
    <p-chart type="polarArea" [data]="operationsData"></p-chart>
  </div>
  <h3>Week Days Statistics</h3>
  <p-chart type="radar" [data]="appointmentsData"></p-chart>

  <!-- <p-tabView (onChange)="changeTabWeekDay($event)" activeIndex="activeIndex">
    <p-tabPanel [header]="day.label" *ngFor="let day of weekDays; let i = index" [selected]="i == 0">
      <p-card>
      </p-card>
    </p-tabPanel>
  </p-tabView> -->
</div>
