<div class="schedule-container">
  <h3>My Schedule</h3>
  <div class="my-schedule-table">
    <p-table [value]="todayAppointments">
      <ng-template pTemplate="header">
        <tr>
          <th>Status</th>
          <th>Date</th>
          <th>Patient</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-appointment>
        <tr>
          <td>{{ appointment.status }}</td>
          <td>{{ appointment.date }}</td>
          <td>{{ appointment.patient }}</td>
          <td>
            <button
              pButton
              type="button"
              label="Cancel"
              class="p-button-danger"
              *ngIf="appointment.status === 'Active'"
            ></button>
            <button
              pButton
              type="button"
              label="Review"
              class="p-button-help"
              *ngIf="appointment.status === 'Pending Review'"
            ></button>
            <button pButton type="button" label="Patient Review" *ngIf="appointment.status === 'Closed'"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <h3>Future Appointments</h3>
  <div class="future-appointments-table">
    <p-table [value]="futureAppointments">
      <ng-template pTemplate="header">
        <tr>
          <th>Status</th>
          <th>Date</th>
          <th>Patient</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-futureAppointment>
        <tr>
          <td>{{ futureAppointment.status }}</td>
          <td>{{ futureAppointment.date }}</td>
          <td>{{ futureAppointment.patient }}</td>
          <td>
            <button
              pButton
              type="button"
              label="Cancel"
              class="p-button-danger"
              *ngIf="futureAppointment.status === 'Active'"
            ></button>
            <button
              pButton
              type="button"
              label="Review"
              class="p-button-help"
              *ngIf="futureAppointment.status === 'Pending Review'"
            ></button>
            <button pButton type="button" label="Patient Review" *ngIf="futureAppointment.status === 'Closed'"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
