<div class="schedule-container">
  <h3>My Schedule</h3>
  <div class="my-schedule-table">
    <p-table [value]="todayAppointments">
      <ng-template pTemplate="header">
        <tr>
          <th>Status</th>
          <th>Day</th>
          <th>Hour</th>
          <th>Patient</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-appointment>
        <tr>
          <td>{{ appointment.status }}</td>
          <td>{{ appointment.day | day }}</td>
          <td>{{ appointment.hour }}</td>
          <td>{{ appointment.patient.name }}</td>
          <td>
            <div *ngIf="appointment.status === 'Active'">
              <button pButton type="button" label="Attend" (click)="attendPatient(appointment)"></button>
              <button
                pButton
                type="button"
                label="Cancel"
                class="p-button-danger"
                (click)="cancelAppointment(appointment)"
              ></button>
            </div>
            <div *ngIf="appointment.status === 'Closed'">
              <button
                pButton
                type="button"
                label="Patient Summary"
                *ngIf="appointment.doctorSummary === null"
                (click)="showDoctorSurveyDialog(appointment)"
              ></button>
              <button
                pButton
                type="button"
                label="Patient Survey"
                class="p-button-help"
                (click)="showPatientSurveyDialog(appointment)"
                *ngIf="appointment.patientSurvey !== null"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <i
      class="pi pi-file-excel export-icon"
      style="font-size: 2em; float: right"
      (click)="generateExcelFile(todayAppointments)"
    ></i>
    <i
      class="pi pi-file-pdf export-icon"
      style="font-size: 2em; float: right"
      (click)="generatePdfFile(todayAppointments)"
    ></i>
    <!-- pdf for the future -->
  </div>
  <h3>Future Appointments</h3>
  <div class="future-appointments-table">
    <p-table [value]="futureAppointments">
      <ng-template pTemplate="header">
        <tr>
          <th>Status</th>
          <th>Day</th>
          <th>Hour</th>
          <th>Patient</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-futureAppointment>
        <tr>
          <td>{{ futureAppointment.status }}</td>
          <td>{{ futureAppointment.day | day }}</td>
          <td>{{ futureAppointment.hour }}</td>
          <td>{{ futureAppointment.patient.name }}</td>
          <td>
            <button
              pButton
              type="button"
              label="Cancel"
              class="p-button-danger"
              *ngIf="futureAppointment.status === 'Active'"
            ></button>
            <button
              pButton
              type="button"
              label="Review"
              class="p-button-help"
              *ngIf="futureAppointment.status === 'Pending Review'"
            ></button>
            <button pButton type="button" label="Patient Review" *ngIf="futureAppointment.status === 'Closed'"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <i
      class="pi pi-file-excel export-icon"
      style="font-size: 2em; float: right"
      (click)="generateExcelFile(futureAppointments)"
    ></i>
    <i class="pi pi-file-pdf export-icon" style="font-size: 2em; float: right"></i>
  </div>
</div>
<p-dialog [(visible)]="display" (onHide)="hideDialog()">
  <div *ngIf="patientSurvey">
    {{ patientSurvey }}
  </div>
  <div *ngIf="!patientSurvey" class="patient-summary-container">
    <p-header> Insert your comments based on your experience </p-header>
    <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="doctorSummary"></textarea>
    <p-footer>
      <button pButton type="button" (click)="confirmReview()" label="Confirm"></button>
    </p-footer>
  </div>
</p-dialog>
