:host {
  display: block;
}
.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .future-appointments-table,
  .my-schedule-table {
    width: 80%;
  }
  .my-schedule-table {
    margin-bottom: 100px;
    .action-container {
      button {
        margin: 5% 0%;
      }
    }
  }
}
.patient-summary-container {
  display: flex;
  flex-direction: column;
}
.export-icon {
  font-size: 2em;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}
