<div class="new-appointment-container">
  <div class="stepper">
    <p-steps [model]="items" [(activeIndex)]="activeIndex"></p-steps>
    <div class="specialty-content" *ngIf="activeIndex === 0">
      <app-pick-specialty [specialties]="specialties" (selectedSpecialty)="pickSpecialty($event)"></app-pick-specialty>
    </div>
    <div class="professional-content" *ngIf="activeIndex === 1">
      <app-pick-professional
        [professionals]="professionalsBasedOnSpecialty"
        (selectedProfessional)="pickProfessional($event)"
      ></app-pick-professional>
    </div>
    <div class="dateTime-content" *ngIf="activeIndex === 2">
      <app-pick-date-time
        [avaliableDays]="avaliableDays"
        [avaliableHours]="avaliableHours"
        (selectedDay)="pickDay($event)"
        (selectedHour)="pickHour($event)"
      ></app-pick-date-time>
    </div>
    <div class="summary-content" *ngIf="activeIndex === 3">
      <app-appointment-summary
        [appointmentSpecialty]="appointmentSpecialty"
        [appointmentProfessional]="appointmentProfessional"
        [appointmentDay]="appointmentDay"
        [appointmentHour]="appointmentHour"
        (saveAppointment)="saveAppointment($event)"
      ></app-appointment-summary>
    </div>
  </div>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>
