<div class="sign-container">
  <h1>Medical Clinic</h1>
  <div *ngIf="displayRegisterForm; else loginContainer" class="register-container">
    <h2>Registration</h2>
    <div class="register-form-container">
      <span class="p-float-label">
        <input id="username-input" type="text" pInputText [(ngModel)]="name" />
        <label for="username-input">Name</label>
      </span>
      <span class="p-float-label">
        <input id="username-input" type="text" pInputText [(ngModel)]="userEmail" />
        <label for="username-input">E-mail</label>
      </span>
      <p-dropdown [options]="profiles" [(ngModel)]="selectedProfile"></p-dropdown>

      <!-- <span class="p-float-label">
          <input id="username-input" type="text" pInputText [(ngModel)]="repeatUserEmail" />
          <label for="username-input">Repeat E-mail</label>
        </span> -->
      <span class="p-float-label">
        <input id="password-input" type="password" pPassword [(ngModel)]="userPassword" />
        <label for="password-input">Password</label>
      </span>
      <!-- <span class="p-float-label">
          <input id="password-input" type="password" pPassword [(ngModel)]="repeatUserPassword" />
          <label for="password-input">Repeat Password</label>
        </span> -->
      <div class="button-container">
        <button
          pButton
          type="button"
          label="Sign In"
          class="sign-up-btn p-button-outlined"
          (click)="switchForms()"
        ></button>
        <button pButton type="button" label="Register" class="sign-in-btn p-button-raised" (click)="signUp()"></button>
      </div>
    </div>
  </div>

  <ng-template #loginContainer>
    <div class="login-container">
      <h2>Welcome</h2>
      <div class="login-form-container">
        <span class="p-float-label">
          <input id="username-input" type="text" pInputText [(ngModel)]="email" />
          <label for="username-input">E-mail</label>
        </span>
        <span class="p-float-label">
          <input id="password-input" type="password" pPassword [(ngModel)]="password" />
          <label for="password-input">Password</label>
        </span>
        <div class="button-container">
          <button
            pButton
            type="button"
            label="Sign Up"
            class="sign-up-btn p-button-outlined"
            (click)="switchForms()"
          ></button>
          <button pButton type="button" label="Sign In" class="sign-in-btn p-button-raised" (click)="signIn()"></button>
        </div>
        <div class="button-container">
          <button
            pButton
            type="button"
            label="Professional"
            (click)="fillProfessional()"
            class="sign-up-btn p-button-secondary p-button-outlined"
          ></button>
          <button
            pButton
            type="button"
            label="Patient"
            (click)="fillPatient()"
            class="sign-up-btn p-button-secondary p-button-outlined"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>
