@import '/src/styles.scss';
:host {
  display: block;
}
:host ::ng-deep .p-dropdown {
  width: 100%;
}
.main-container {
  height: 100vh;
  width: 100vw;
  background-image: url('/assets/images/login-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  color: $primaryColor;
  h1 {
    position: absolute;
    top: 5%;
    text-align: center;
    width: 100%;
  }
  @include media(xs) {
    background-position-x: 65%;
  }
  .login-container,
  .register-container {
    z-index: 1;
    justify-self: center;
    align-self: center;
    display: grid;
    height: 50%;
    width: 30%;
    @include media(xs) {
      width: 80%;
    }
    background-color: #ffffff54;
    border: 2px solid $primaryColor;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 25% 1fr;
    h2 {
      width: 80%;
      text-align: center;
    }
    .login-form-container,
    .register-form-container {
      display: grid;
      justify-items: center;
      align-items: center;
      height: 100%;
      .button-container {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .sign-up-btn {
          text-decoration: none;
        }
        .sign-in-btn,
        .sign-up-btn {
          width: 45%;
        }
      }
      p-dropdown {
        width: 100%;
      }
    }
  }
  .register-container {
    height: 70%;
    grid-template-rows: 20% 1fr;
  }
}
