<div class="my-appointments-container">
  <h3>My Appointments</h3>
  <div class="table">
    <p-table [value]="appointments">
      <ng-template pTemplate="header">
        <tr>
          <th>Status</th>
          <th>Day</th>
          <th>Hour</th>
          <th>Specialty</th>
          <th>Professional</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-appointment>
        <tr>
          <td>{{ appointment.status }}</td>
          <td>{{ appointment.day }}</td>
          <td>{{ appointment.hour }}</td>
          <td>{{ appointment.professional.specialty }}</td>
          <td>Dr. {{ appointment.professional.name }}</td>
          <td>
            <button
              pButton
              type="button"
              label="Cancel"
              class="p-button-danger"
              *ngIf="appointment.status === 'Active'"
              (click)="cancelAppointment(appointment)"
            ></button>
            <button
              pButton
              type="button"
              label="Review Dr"
              class="p-button-help"
              *ngIf="appointment.status === 'Pending Review'"
            ></button>
            <button pButton type="button" label="Dr Summary" *ngIf="appointment.status === 'Closed'"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
