<div class="my-appointments-container" [@simpleFadeAnimation]="'in'">
  <h3>My Appointments</h3>
  <div class="table">
    <p-table [value]="appointments" #dt>
      <ng-template pTemplate="header">
        <tr>
          <th>Status</th>
          <th>Day</th>
          <th>Hour</th>
          <th>Specialty</th>
          <th>Professional</th>
          <th>Actions</th>
        </tr>
        <tr>
          <th>
            <input
              pInputText
              type="text"
              (input)="dt.filter($event.target.value, 'status', 'startsWith')"
              placeholder="Search by Status"
              class="p-column-filter"
            />
          </th>
          <th>
            <input
              pInputText
              type="text"
              (input)="dt.filter($event.target.value, 'day', 'startsWith')"
              placeholder="Search by Day"
              class="p-column-filter"
            />
          </th>
          <th>
            <input
              pInputText
              type="text"
              (input)="dt.filter($event.target.value, 'hour', 'startsWith')"
              placeholder="Search by Hour"
              class="p-column-filter"
            />
          </th>
          <th>
            <input
              pInputText
              type="text"
              (input)="dt.filter($event.target.value, 'professional.specialty', 'startsWith')"
              placeholder="Search by Specialty"
              class="p-column-filter"
            />
          </th>
          <th>
            <input
              pInputText
              type="text"
              (input)="dt.filter($event.target.value, 'professional.name', 'startsWith')"
              placeholder="Search by Name"
              class="p-column-filter"
            />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-appointment>
        <tr>
          <td>{{ appointment.status }}</td>
          <td>{{ appointment.parsedDay }}</td>
          <td>{{ appointment.hour }}</td>
          <td>{{ appointment.professional.specialty }}</td>
          <td>{{ appointment.professional.name }}</td>
          <td class="action-container">
            <button
              pButton
              type="button"
              label="Cancel"
              class="p-button-danger p-button-sm"
              *ngIf="appointment.status === 'Active'"
              (click)="cancelAppointment(appointment)"
            ></button>
            <div *ngIf="appointment.status === 'Closed'">
              <button
                *ngIf="appointment.patientSurvey === null"
                pButton
                type="button"
                (click)="showPatientSurveyDialog(appointment)"
                label="Review Dr"
                class="p-button-help p-button-sm"
              ></button>
              <button
                pButton
                class="p-button-sm"
                type="button"
                (click)="showSummaryDialog(appointment.doctorSummary)"
                label="Dr Summary"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog [(visible)]="display" (onHide)="hideDialog()">
  <div *ngIf="content">
    {{ content }}
  </div>
  <div *ngIf="!content" class="doctor-summary-container">
    <p-header> Insert your comments based on your experience </p-header>
    <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="patientSurvey"></textarea>
    <p-footer>
      <button pButton type="button" (click)="confirmReview()" label="Confirm"></button>
    </p-footer>
  </div>
</p-dialog>
