<div class="admin-container">
  <h3>Professionals Dashboard</h3>
  <div class="table">
    <p-table [value]="professionals">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Specialties</th>
          <th>Enabled</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-professional>
        <tr>
          <td>{{ professional.name }}</td>
          <td>{{ professional.specialty?.join() }}</td>
          <td>{{ professional.isProfessionalEnabled }}</td>
          <td>
            <button
              type="text"
              (click)="confirm(professional)"
              pButton
              icon="pi pi-check"
              label="{{ professional.isProfessionalEnabled ? 'Enable' : 'Disable' }}"
              class="p-button-danger"
            ></button>
            <button pButton type="button" (click)="openNewSpecialtyDialog(professional)" label="Add Specialty"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog
  header="Select the new specialty you want to add"
  [(visible)]="displaySpecialtyDialog"
  (onHide)="hideDialog()"
  styleClass="mydialog"
>
  <div class="specialty-container">
    <p-listbox [options]="specialties" [(ngModel)]="selectedSpecialty"></p-listbox>
  </div>
  <p-footer>
    <button
      pButton
      type="button"
      (click)="confirmNewSpecialty()"
      label="Confirm"
      class="confirm-new-specialty-btn"
      [disabled]="selectedSpecialty === null"
    ></button>
  </p-footer>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast position="bottom-center" key="bc"></p-toast>
