:host {
  display: block;
}
.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .professionals-list,
  .patient-list {
    width: 80%;
    .admin-table {
      .action-container {
        button {
          margin: 5% 0%;
        }
      }
    }
  }
}
.doctor-summary-container {
  display: flex;
  flex-direction: column;
}
:host ::ng-deep .mydialog {
  // width: 50vh;
}
.specialty-container {
  .confirm-new-specialty-btn {
    // float: right;
  }
}
