<div class="admin-container">
  <h3>Professionals Dashboard</h3>
  <div class="table">
    <p-table [value]="professionals">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Specialties</th>
          <th>Enabled</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-professional>
        <tr>
          <td>{{ professional.name }}</td>
          <td>Specialties</td>
          <td>{{ professional.isProfessionalEnabled }}</td>
          <td>
            <button
              pButton
              type="button"
              label="Enable"
              class="p-button-danger"
              (click)="enableProfessional(professional)"
            ></button>
            <button pButton type="button" (click)="addSpecialty(professional)" label="Add Specialty"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<!-- <p-dialog [(visible)]="display" (onHide)="hideDialog()">
  <div *ngIf="content">
    {{ content }}
  </div>
  <div *ngIf="!content" class="doctor-summary-container">
    <p-header> Insert your comments based on your experience </p-header>
    <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="patientSurvey"></textarea>
    <p-footer>
      <button pButton type="button" (click)="confirmReview()" label="Confirm"></button>
    </p-footer>
  </div>
</p-dialog> -->
